.signUp_container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
	/* background: linear-gradient(135deg, #71b7e6, #9b59b6); */
	background-color: rgb(255, 75, 58);
	font-family: "Poppins", sans-serif;
}
.Login {
	max-width: 700px;
	/* width: 100%; */
	background-color: #fff;
	padding: 25px 30px;
	border-radius: 5px;
	box-shadow: 4px 1px 6px 2px rgba(92, 92, 92, 0.69);
	-webkit-box-shadow: 4px 1px 6px 2px rgba(92, 92, 92, 0.69);
	-moz-box-shadow: 4px 1px 6px 2px rgba(92, 92, 92, 0.69);
}

.Login .title {
	font-size: 25px;
	font-weight: 500;
}
.Login form .user-details {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 20px 0 12px 0;
}
.Login form .user-details .input_box {
	width: 300px;
	margin-bottom: 15px;
	margin-right: 20px;
}
.Login form .user-details .input_box .details {
	display: block;
	font-weight: 500;
	margin-bottom: 5px;
}
.Login form .user-details .input_box input {
	height: 45px;
	width: 100%;
	outline: none;
	border-radius: 5px;
	border: 1px solid #ccc;
	padding-left: 10px;
	font-size: 16px;
	border-bottom-width: 2px;
	transition: all 0.3s ease;
}
.Login form .user-details .input_box input:focus {
	border-color: #9b59b6;
}
.button {
	height: 45px;
	margin: 45px 0;
	margin-bottom: 10px;
}
.button button {
	height: 100%;
	width: 100%;
	border: none;
	background: linear-gradient(135deg, rgb(247, 180, 56), rgb(255, 75, 58));
	color: white;
	cursor: pointer;
}
.button button:hover {
	background: linear-gradient(135deg, rgb(255, 75, 58), rgb(247, 180, 56));
}
.alreadyUser {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.alreadyUser a {
	text-decoration: none;
	color: blue;
	font-size: 10;
}
@media (max-width: 584px) {
	.Login {
		padding: 20;
	}
	.signUp_container {
		padding: 20px;
	}
	.Login form .user-details .input_box {
		margin-bottom: 15px;
		width: 100%;
	}
}

.logo{
	height: 25px;
	width: 25px;
	margin-right: 5px;
	

}
.login-links{
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 10px;
font-size: 15px !important;

}
.google{
	display: flex;
cursor: pointer;
align-content: center;
color: blue;
justify-content: center;
}