@import "../../global.scss";
.order {
	background-color: white;
	padding: 30px;
	box-shadow: 4px 3px 10px 4px #c3121287;
	-webkit-box-shadow: 4px 3px 10px 4px #c3121287;
	-moz-box-shadow: 4px 3px 10px 4px #c3121287;
	min-width: 330px;
	margin: 20px 0;
	cursor: pointer;
	border-radius: 15px;
	@include mobile {
		// min-width: auto;
		padding: 20px;
	}
	@include extraSmall {
		min-width: auto;
	}
}
.orderRow {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}
.order {
	.orderRow {
		// margin: 7px 0;
		h4 {
			font-size: 17px;
			font-weight: 500;
		}
	}
}
.btn-online {
	background-color: lightgreen;
	outline: none;
	border: none;
	padding: 5px;
	/* font-weight: bold; */
	color: black;
	border: 3px solid darkgreen;
	border-radius: 5px;
}

.btn-cod {
	background-color: rgb(255, 147, 147);
	outline: none;
	border: none;
	padding: 5px;
	/* font-weight: bold; */
	color: black;
	border: 3px solid red;
	border-radius: 5px;
}
.order-complete {
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 15px;
	margin: 20px 0;
}
.order-complete-active {
	background-color: lightgreen;
}
.order-complete i {
	margin: 0 10px 0 0;
	font-size: 17px;
	font-weight: bold;
	color: green;
}
.order_button {
	border: none;
	outline: none;
	cursor: pointer;
	@include mobile {
		padding: 10px;
		margin-right: 5px;
	}
	padding: 10px 15px;
	border-radius: 10px;
}
.order_button_accept {
	background-color: lightgreen;
	border: 2px solid green;
	margin-right: 10px;
}
.order_button_cancel {
	background-color: crimson;
	border: 2px solid red;
	color: white;
}

.modal_div {
	h1 {
		font-weight: normal;
		text-align: center;
		margin: 10px 0;
	}
}
.rodal-dialog {
	height: fit-content !important;
}
