h4 {
	font-size: 15px;
	line-height: normal;
}
h1 {
	font-size: 20px;
	margin-bottom: 20px;
}
.orderInfoMain {
	background-color: orange;
	min-height: 100vh;
	padding: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.orderInfoCell {
	/* height: 400px;
	width: 600px; */
	min-width: 400px;
	background-color: white;
	padding: 40px;
	box-shadow: 4px 1px 6px 2px rgba(92, 92, 92, 0.69);
	-webkit-box-shadow: 4px 1px 6px 2px rgba(92, 92, 92, 0.69);
	-moz-box-shadow: 4px 1px 6px 2px rgba(92, 92, 92, 0.69);
}
.orderinfo {
	display: flex;
	justify-content: space-between;
	/* align-items: center; */
	margin: 10px 0;
}
.itemList {
	padding: 15px;
	margin: 10px 0;
	box-shadow: 4px 1px 6px 2px rgba(92, 92, 92, 0.69);
	-webkit-box-shadow: 4px 1px 6px 2px rgba(92, 92, 92, 0.69);
	-moz-box-shadow: 4px 1px 6px 2px rgba(92, 92, 92, 0.69);
}
.item {
	display: flex;
	justify-content: space-between;
	margin: 5px 0;
}
.item h4 {
	margin-right: 10px;
}
.btn-online {
	background-color: lightgreen;
	outline: none;
	border: none;
	padding: 5px;
	/* font-weight: bold; */
	color: black;
	border: 3px solid darkgreen;
	border-radius: 5px;
}

.btn-cod {
	background-color: rgb(255, 147, 147);
	outline: none;
	border: none;
	padding: 5px;
	/* font-weight: bold; */
	color: black;
	border: 3px solid red;
	border-radius: 5px;
}
@media (max-width: 720px) {
	.orderInfoCell {
		min-width: 350px;
		padding: 20px;
		box-shadow: none;
	}
}
